In [112]:
# Configuration to automatically reload modified modules
%load_ext autoreload
%autoreload 2

# This allows changes in imported modules to be reflected automatically
# without needing to restart the kernel

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [121]:
import nltk
import pandas as pd
from nltk.corpus import treebank
from pos_spacy import spacy_pos
from standford_pos_nltk import stanford_pos
from test_corpus import compare_pos_taggers, extract_raw_text, extract_tokens_from_gold, accuracy

# Check if treebank corpus is available, if not, download it
try:
    treebank.tagged_sents()
except LookupError:
    print("Downloading NLTK treebank corpus...")
    nltk.download("treebank")

In [114]:
gold = treebank.tagged_sents()  # POS PTB

In [115]:
raw_text = extract_raw_text(gold)[:500]

In [117]:
# Tokenize the raw text for both taggers
tokenized_text = extract_tokens_from_gold(gold)

In [124]:
pos_tag_output_st_nltk = stanford_pos(tokenized_text)
pos_tag_output_spacy = spacy_pos(tokenized_text)
mismatches = compare_pos_taggers(pos_tag_output_st_nltk, pos_tag_output_spacy)

In [119]:
pd.DataFrame(mismatches).drop_duplicates()

          word1 tag1      word2 tag2
0           *-1   CD        *-1  NNP
1         *T*-1   NN      *T*-1   UH
2         *T*-1   NN      *T*-1   RB
3         *T*-2   NN      *T*-2   UH
4          that  WDT       that   IN
...         ...  ...        ...  ...
6739  president   NN  president  NNP
6740    liberal   JJ    liberal   NN
6742    *PPA*-1   NN    *PPA*-1   CC
6743  line-item   JJ  line-item   NN
6748    Trinity  NNP    Trinity   NN

[2524 rows x 4 columns]

In [125]:
acc_st_nltk = accuracy(pos_tag_output_st_nltk, gold)
acc_spacy = accuracy(pos_tag_output_spacy, gold)
print(f"Accuracy (Stanford NLTK): {acc_st_nltk:.4f}")
print(f"Accuracy (spaCy): {acc_spacy:.4f}")

Accuracy (Stanford NLTK): 0.8892
Accuracy (spaCy): 0.8928